In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("aggregate_hdi_indicators_with_population.csv")

In [3]:
df

,Entity,Code,Year,Population (historical estimates),"Fertility rate (Complete Gapminder, v12) (2017)","Mortality rate, infant (per 1,000 live births)",Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,AFG,1800,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1801,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1802,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1803,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1804,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49729,Zimbabwe,ZWE,2017,14236599.0,3.68,4.05,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,ZWE,2018,14438812.0,NaN,3.93,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,ZWE,2019,14645473.0,NaN,3.84,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,ZWE,2020,14862927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,ZWE,2021,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# calculate HDI rate per year 

#life expectancy index
#<-- ([Life expectancy] - [Life Expectancy Minimum]) / ([Life Expectancy Goalpost] - [Life Expectancy Minimum])
# ([life expentance of country] - 20) / (85 - 20))

#education expectancy index
#((([Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))] 
# - [Mean Years of Schooling Minimum]) / ([Mean Years of Schooling Goalpost] - [Mean Years of Schooling Minimum])) + (([Expected Years of Schooling (years)] - [Expected Years of Schooling Minimum]) 
# / ([Expected Years of Schooling Goalpost] - [Expected Years of Schooling Minimum]))) / 2

#income expectancy index
# (LN([GNI per capita, PPP (constant 2017 international $)]) - LN([GNI per Capita Minimum])) 
# / (LN([GNI per Capita Goalpost]) - LN([GNI per Capita Minimum]))

#HDI
# ([Calculated Life Expectancy Index] * [Calculated Education Index] * [Calculated GNI per Capita Index]) ^ (1/3)


# find life expectancy weight for each country (life expectancy/global life expetancy)
# apply weight to life expectany (weight (^) * life expectancy)
# create new column to store
# use all countries weighted life expectancies to get global life expectancy
# do with other factors
# find gobal HDI

In [5]:
factors = df.drop(columns = ['Fertility rate (Complete Gapminder, v12) (2017)', 'Mortality rate, infant (per 1,000 live births)', 'Code'])

In [6]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN

In [7]:
#factors = factors.set_index('Entity')

In [8]:
factors = factors.dropna(thresh=4)

In [9]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
70,Afghanistan,1870,4142928.0,NaN,0.01,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,0.01,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,0.01,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,0.01,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,0.01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,8.20,10.3,2858.616749,0.529
49728,Zimbabwe,2016,14030338.0,60.294,8.20,10.3,2884.156050,0.532
49729,Zimbabwe,2017,14236599.0,60.812,8.20,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN

In [10]:
factors["Weighted Life Expectancy"] = np.nan
factors["Weighted YOS"] = np.nan
factors["Weighted Expected YOS"] = np.nan
factors["Weighted GNI"] = np.nan

In [11]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP),Weighted Life Expectancy,Weighted YOS,Weighted Expected YOS,Weighted GNI
70,Afghanistan,1870,4142928.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,8.20,10.3,2858.616749,0.529,NaN,NaN,NaN,NaN
49728,Zimbabwe,2016,14030338.0,60.294,8.20,10.3,2884.156050,0.532,NaN,NaN,NaN,NaN
49729,Zimbabwe,2017,14236599.0,60.812,8.20,10.3,3207.887558,0.535,NaN,NaN,NaN,NaN
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN,NaN,NaN,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
factors = factors[["Entity",
                   "Year", 
                   "Population (historical estimates)", 
                   "Life expectancy", "Weighted Life Expectancy", 
                   "Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))", "Weighted YOS",
                   "Expected Years of Schooling (years)", "Weighted Expected YOS",
                   "GNI per capita, PPP (constant 2017 international $)", "Weighted GNI",
                   "Actual Human Development Index (UNDP)"
                  ]]

In [13]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
70,Afghanistan,1870,4142928.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,NaN,8.20,NaN,10.3,NaN,2858.616749,NaN,0.529
49728,Zimbabwe,2016,14030338.0,60.294,NaN,8.20,NaN,10.3,NaN,2884.156050,NaN,0.532
49729,Zimbabwe,2017,14236599.0,60.812,NaN,8.20,NaN,10.3,NaN,3207.887558,NaN,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,NaN,NaN,NaN,3262.224759,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(factors['Population (historical estimates)'].loc[factors['Year'] == 1870].mean())

10992194.0990991

In [15]:
print(factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))].mean())

12518941.8

In [16]:
print(factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))])

2464      4528451.0
4018      5097637.0
11333     1887969.0
14644    38184704.0
19378       69836.0
21448    34388672.0
30430     3609009.0
32568     1736968.0
42380     4168145.0
46846    31518027.0
Name: Population (historical estimates), dtype: float64

In [17]:
print(factors['Life expectancy'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))])

2464     34.400002
4018     40.900002
11333    45.970001
14644    36.389999
19378    38.340000
21448    36.592640
30430    37.320000
32568    50.849998
42380    44.970001
46846    40.605000
Name: Life expectancy, dtype: float64

In [25]:
factors['Weighted Life Expectancy'].loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))] = (
    factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))] 
    / factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))].mean())

In [26]:
factors.loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))]

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
200,Afghanistan,2000,20779957.0,55.841,0.791490,2.2,NaN,5.9,NaN,NaN,NaN,NaN
422,Albania,2000,3129246.0,73.955,0.119190,8.8,NaN,10.6,NaN,NaN,NaN,0.669
644,Algeria,2000,31042238.0,70.640,1.182372,5.9,NaN,10.9,NaN,8391.639382,NaN,0.644
731,American Samoa,2000,57816.0,71.184,0.002202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,Andorra,2000,65390.0,78.857,0.002491,6.7,NaN,10.8,NaN,NaN,NaN,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...
48824,Wallis and Futuna,2000,14697.0,76.653,0.000560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49046,Western Sahara,2000,314116.0,62.615,0.011964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49268,Yemen,2000,17409071.0,60.683,0.663096,1.2,NaN,7.9,NaN,NaN,NaN,0.443
49490,Zambia,2000,10415942.0,44.000,0.396734,5.9,NaN,9.8,NaN,NaN,NaN,0.432
49712,Zimbabwe,2000,11881482.0,44.649,0.452555,6.5,NaN,9.8,NaN,NaN,NaN,0.440

In [27]:
for year in range(1800, 2022):
    factors['Weighted Life Expectancy'].loc[(factors['Year'] == year) & (pd.notna(factors['Life expectancy']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                         & (pd.notna(factors['Life expectancy']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                           & (pd.notna(factors['Life expectancy']))].mean())
    
    
    factors['Weighted YOS'].loc[(factors['Year'] == f"{year}") & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                         & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                           & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))].mean())
    
    factors['Weighted Expected YOS'].loc[(factors['Year'] == f"{year}") & (pd.notna(factors['Expected Years of Schooling (years)']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                         & (pd.notna(factors['Expected Years of Schooling (years)']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                           & (pd.notna(factors['Expected Years of Schooling (years)']))].mean())
    
    factors['Weighted GNI'].loc[(factors['Year'] == f"{year}") & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                         & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") 
                                                           & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))].mean())

In [28]:
factors.loc[(factors['Year'] == 2000) & (pd.notna(factors['Life expectancy']))]

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
200,Afghanistan,2000,20779957.0,55.841,0.791490,2.2,NaN,5.9,NaN,NaN,NaN,NaN
422,Albania,2000,3129246.0,73.955,0.119190,8.8,NaN,10.6,NaN,NaN,NaN,0.669
644,Algeria,2000,31042238.0,70.640,1.182372,5.9,NaN,10.9,NaN,8391.639382,NaN,0.644
731,American Samoa,2000,57816.0,71.184,0.002202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,Andorra,2000,65390.0,78.857,0.002491,6.7,NaN,10.8,NaN,NaN,NaN,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...
48824,Wallis and Futuna,2000,14697.0,76.653,0.000560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49046,Western Sahara,2000,314116.0,62.615,0.011964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49268,Yemen,2000,17409071.0,60.683,0.663096,1.2,NaN,7.9,NaN,NaN,NaN,0.443
49490,Zambia,2000,10415942.0,44.000,0.396734,5.9,NaN,9.8,NaN,NaN,NaN,0.432
49712,Zimbabwe,2000,11881482.0,44.649,0.452555,6.5,NaN,9.8,NaN,NaN,NaN,0.440